/* Root */
:root {
    --font-color: rgb(113, 113, 113);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
}

ul {
    list-style: none;
}

.upper-content {
    display: flex;
    height: calc(100vh - 110px);
}

aside {
    flex-basis: 200px;
    background-color: black;
    flex-shrink: 0;
    display: flex;
    padding: 20px;
}

#logo-big {
    height: 40px;
    margin-bottom: 20px;
}

#logo-small {
    display: none;
}

footer {
    height: 110px;
    text-align: center;
    background-color: rgb(40, 40, 40);
}

main header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    flex-grow: 1;
}

main {
    overflow: auto;
    background-color: rgb(20, 25, 34);
    width: calc(100% - 200px);
}

.brd-shw {
    border: 2px dashed white;
}

.nav-menu {
    flex-direction: column;
    color: var(--font-color);
}

.nav-item {
    /* margin-bottom: 15px; */
}

.nav-icons {
    height: 30px;
    vertical-align: middle;
    margin: 5px;
}

h3