/* Root */
:root {
    --font-color: rgb(113, 113, 113);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    font-weight: 700;
}

ul {
    list-style: none;
    font-size: 13px;
    line-height: 30px;
}

hr {
    color: var(--font-color);
    height: 1px;
}

li:active {
    color: white;
    border-left: 2px solid rgb(173, 255, 47);
    padding-left: 15px;
}

.fa-solid.fa-plus {
    background-color: rgb(163, 163, 163);
    padding: 5px;
    color: black;
    font-size: 25px;
    margin-right: 10px;
    vertical-align: middle;
}

.upper-content {
    display: flex;
    height: calc(100vh - 110px);
}

aside {
    flex-basis: 200px;
    background-color: black;
    flex-shrink: 0;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
}

#logo-big {
    height: 40px;
    margin-bottom: 15px;
}

#logo-small {
    display: none;
}

footer {
    height: 110px;
    text-align: center;
    background-color: rgb(40, 40, 40);
}

main header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    flex-grow: 1;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px rgb(212, 212, 213) solid;
    border-radius: 30px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
}

main {
    overflow: auto;
    background-color: rgb(20, 25, 34);
    width: calc(100% - 200px);
    display: flex;
}

.brd-shw {
    border: 2px dashed white;
}

.nav-menu {
    flex-direction: column;
    color: var(--font-color);
}

.nav-icons {
    height: 30px;
    vertical-align: middle;
    margin: 5px 5px;
}

#playlist-title {
    text-transform: uppercase;
}

h3 {
    margin: 15px 0;
    font-size: 15px;
    color: white;
}

.sidebar-bottom .download-app>img {
    height: 13px;
}

.download-app {
    color: var(--font-color);
    padding-bottom: 3px;
}

.sidebar-bottom .user-name>img {
    height: 30px;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}